body{
margin: 0;
padding: 0; 
box-sizing: border-box;
font-family: sans-serif;
background: black;
}
.container{
    background: gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center ;
    height: 100vh;
    flex-wrap: wrap;
    gap: 50px;
}
.uno{
   background: red;
   width: 400px;
   height: 400px;
   border-radius: 15px;
}
.dos{
  background: blue;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.tres{
    background: chartreuse;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}